fastapi
requests
uvicorn
aiosqlite
dotenv
httpx[http2]
brotli
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
pytest-asyncio
pytest
hypercorn

uvloop
orjson

isort
black
ruff